<div class="row">
	<h4 class="center">{{case.judul}}</h4>
	<div class="col s12 m12 l12 case-detail">
		<div class="progress">
		    <div class="determinate" style="width: 70%"></div>
		</div>
		<br>
		<h5>
			Nomor Perkara
		</h5>
		<span>
			{{case.nomor_perkara}}
		</span>
		<h5>
			Tanggal Pendaftaran Kasus
		</h5>
		<span>
			{{case.tanggal_pendaftaran}}
		</span>
		<h5>
			Dakwaan
		</h5>
		<span>
			{{case.dakwaan}}
		</span>
		<h5>
			Status Putusan
		</h5>
		<span>
			{{case.status_putusan}}
		</span>		
		<h5>
			Proses Saat Ini
		</h5>
		<span>
			{{case.proses}}
		</span>
		<h5>
			Terdakwa
		</h5>
		<span>
			{{case.terdakwa}}
		</span>
		<h5>
			Majelis Hakim
		</h5>
		<span>
			Ketua : {{case.hakim.ketua}}
		</span>
		<br>
		<span>
			Anggota : {{case.hakim.anggota1}}, {{case.hakim.anggota2}}, {{case.hakim.anggota3}}
		</span>		
		<h5>
			Jumlah Uang Dikorupsi
		</h5>	
	</div>
</div>